---
---

@import "{{ site.theme }}"
;

.main-content {
    max-width: 74rem;
}
.page-header {
    padding: 3rem 4rem;
    color: #fff;
    text-align: center;
    background-color: #155799;
    //background-image: linear-gradient(120deg, #155799, #155799);
}
